
@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Details for @Model.Name</h4>

<ul>
    <li>Name: @Model.Name</li>
    <li>Birth Date: @Model.BirthDate</li>
</ul>