
@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Details for @Model.Name</h4>

<ul>
    <li><b>Name: </b>@Model.Name</li>
    <li><b>Birth Date: </b>@Model.BirthDate</li>
</ul>